@import url("https://fonts.googleapis.com/css2?family=Miniver&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");

body {
  font-family: "Roboto", sans-serif;
}
@import "tailwindcss";

@theme {
  --color-primary: #ff9f0d;
  --color-secondary: #999966;

  --color-green-primary: #195a00;

  --color-info: #2f80ed;
  --color-success: #27ae60;
  --color-warning: #e2b93b;
  --color-error: #eb5757;

  --color-black1: #1e1e1e;
  --color-black2: #1d1d1d;
  --color-black3: #282828;
  --color-white: #ffffff;

  --color-gray1: #333333;
  --color-gray2: #4f4f4f;
  --color-gray3: #828282;
  --color-gray4: #bdbdbd;
  --color-gray5: #e0e0e0;
}
